<script type="text/x-template" id="home">
    <div class="jumbotron">
        <h1>BLAST<br/><small>Heurystyczny algorytm badania dopasowania sekwencji</small></h1>
        <p>
            Twórcy: Luiza Babska, Marcin Bychawski
        </p>
        <a class="btn btn-lg btn-primary" href="#settings">START</a>
    </div>
</script>

<script type="text/x-template" id="header">
    <h1> <span id="title"></span> <small id="subtitle"></small></h1>
    <div class="btn-group">
        <a id="home-btn" href="#" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Ekran startowy">
          <span class="glyphicon glyphicon-home"></span>
        </a>
        <a id="settings-btn" href="#settings" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Ustawienia algorytmu">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <button id="prev-stage-btn" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Poprzedni etap">
          <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button id="reset-btn" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Resetowanie etapu">
          <span class="glyphicon glyphicon-repeat"></span>
        </button>
        <button id="next-btn" type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Następny krok">
          <span class="glyphicon glyphicon-forward"></span>
        </button>
        <button id="end-btn" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Koniec etapu">
          <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button id="next-stage-btn" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Następny etap">
          <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div>
</script>

